//css Home

// Import page-specific CSS files here.
// @import "home";

.banner {
  background-image: asset-url("banner.png");
  background-color: #000000;
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  margin-top: -17px;
}

.button_png {
  width: 350px;
  margin-right: 100px;
  margin-bottom: 90px;
}

.h1-home {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  margin-left: 5%;
  margin-top: -100px;
  span {
    color: #5234ca;
  }
}

p {
  font-family: "roboto", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: white;
  span {
    color: #5234ca;
  }
}
