
<!DOCTYPE html>
  <html>
    <body>
      <head>
        <title></title>
      </head>
      <header>
        <h1>Discover, and rent magnificent NFTs to build your world in the Metaverse</h1>
        <p>Metacool is the world's first and largest NFT marketplace to rent the furniture you dream about</p>
        <a href="www.hellopret.fr">Explore categories</a>
        <img src="nft" alt= "https://res.cloudinary.com/hellopret/image/upload/q_100,w_600,f_auto/v1637057896/home_octobre_2021/preparation-projet">
      </header>

      <h2>Our categories</h2>

      <img src="nft" alt= "https://res.cloudinary.com/hellopret/image/upload/q_100,w_600,f_auto/v1637057896/home_octobre_2021/preparation-projet">
      <a href="www.hellopret.fr">View</a>
      <img src="nft" alt= "https://res.cloudinary.com/hellopret/image/upload/q_100,w_600,f_auto/v1637057896/home_octobre_2021/preparation-projet">
      <a href="www.hellopret.fr">View</a>
      <img src="nft" alt= "https://res.cloudinary.com/hellopret/image/upload/q_100,w_600,f_auto/v1637057896/home_octobre_2021/preparation-projet">
      <a href="www.hellopret.fr">View</a>
    </body>
  </html>
