<div class="banner">
  <h1>Make the <span>metaverse</span> your place</h1>
  <%= link_to 'Shop now', '#', class: "button" %>
  <%= image_tag "vector.png", alt: "arrow", width: 40 %>



</div>

<div class="container">

  </div>
</div>
