ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nft-list-filtered-by-category {
  margin-top: 4.5rem;
}

#collection-link-path {
  font-weight: lighter;
}

#collection-link-path:hover {
  color: #5334c9;
}
