a {
  color: #007bff;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

.form-group {
  margin: 8vh 0;
  padding: 0 15vh;
  label {
    font-size: 24px;
    letter-spacing: 1vh;
  }
}


#loginFormContent {
  // position: relative;
  text-align: center;
  .form-group {
    margin: 7vh 0;
    padding: 0;
  }
  .simple_form {
  height: 60vh;
}
}

.form-inputs label {
  color: white;
  margin-bottom: 3vh;
}

input[type="text"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;

}



input[type="text"]:placeholder {
  color: #cccccc;
}
