html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
}

nav {
  width: 100%;
  background-color: #211f1f;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-navbar {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
}
.nav-links a {
  color:white;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover a {
  color: #5234ca;
}


.nav-item .basket_logo {
  margin-right: 50px;
}

.logo-navbar  {
  width: 60px;
  vertical-align: middle;
}

.edit-basket {
  margin-top: 40px;
}
