<div class="container nft-list-filtered-by-category">
  <h1>
    <%= @category.category_name %>
  </h1>
  <ul>
    <div class="container nft-product-cards display-grid">
      <% Nft.where(category_id: 1).each do |nft| %>
        <li>
          <div class="card-product flex-column">
            <%= link_to nft_path(nft) do %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            <div class="card-product-infos">
              <h2><%= link_to nft.title, nft_path(nft) %></h2>
              <p>$<%= nft.price %></p>
            </div>
          </div>
        </li>
      <% end %>
    </div>
  </ul>
</div>
